@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

body {
	margin: 0;
	padding: 0%;
}

.leaflet-container {
	height: 100vh;
	width: calc(100% - 462px);
}

.ant-select-selector {
	background-color: #f6f6f6 !important;
	border: none !important;
}
